In [120]:
import matplotlib as plt 
import pandas as pd 
import seaborn as sns 
import numpy as np

In [121]:
# DATA CLEANING
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [122]:
df.shape

(20640, 10)

In [123]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [124]:
#change median income (in ten thousand) to median income *1
df['median_income'] = df['median_income'] * 10000

In [125]:
#fill Null values with average bedrooms per total rooms 
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [126]:
average_bedrooms_per_room = (df['total_bedrooms'] / df['total_rooms']).mean()
df['total_bedrooms'] = df['total_bedrooms'].fillna(np.floor(df['total_rooms'] * average_bedrooms_per_room))

In [127]:
dummies= pd.get_dummies(df.ocean_proximity).astype(int)

In [128]:
df.drop('ocean_proximity', axis=1, inplace=True)
df.join(dummies)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,83252.0,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,83014.0,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,72574.0,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,56431.0,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,38462.0,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,15603.0,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,25568.0,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,17000.0,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,18672.0,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,23886.0,89400.0,0,1,0,0,0

In [135]:
# CALCULATING DATA STATS
min_price = np.min(df['median_house_value'])
max_price = np.max(df['median_house_value'])
average_price = np.round(np.mean(df['median_house_value']),decimals=2)
average_households = np.mean(df['households'])
average_income = np.round(np.mean(df['median_income']),decimals=2)

print(f'minimum price: {min_price}$')
print(f'maximum price: {max_price}$')
print(f'average price: {average_price}$')
print(f'average income: {average_income}$')
print(f'average households per block: {np.ceil(average_households)}')

minimum price: 14999.0$
maximum price: 500001.0$
average price: 206855.82$
average income: 38706.71$
average households per block: 500.0

In [130]:
# SPLITTING THE DATA
from sklearn.model_selection import train_test_split
x = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)